@model List<Category>

    <div class="row">
        @foreach(Category category in Model)
            {
                <div class="col-lg-6">
                    <a asp-controller="Home" asp-action="Index" asp-route-slug="@category.Slug">@category.Name</a>
                </div>
            }
    </div>