@model DashboardViewModel
@{ ViewData["Title"] = "Dashboard";}



<!-- Small boxes (Stat box) -->
<div class="row">
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3>@Model.CategoryCount</h3>

                <p>Categories</p>
            </div>
            <div class="icon">
                <i class="fas fa-folder"></i>
            </div>
            <a asp-controller="Category" asp-action="Index" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner">
                <h3>@Model.PostCount<sup style="font-size: 20px">%</sup></h3>

                <p>Posts</p>
            </div>
            <div class="icon">
                <i class="fas fa-copy"></i>
            </div>
            <a asp-controller="Posts" asp-action="Index" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>@Model.UserCount</h3>

                <p>Users</p>
            </div>
            <div class="icon">
                <i class="fas fa-user"></i>
            </div>
            <a asp-controller="Users" asp-action="Index" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>0</h3>

                <p>Comments</p>
            </div>
            <div class="icon">
                <i class="fas fa-comment"></i>
            </div>
            <a asp-controller="Comments" asp-action="Index" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
</div>
<!-- /.row -->
