@model List<Post>
@{
    ViewData["Title"] = "Home Page";
}


@foreach (Post post in Model)
{
    <h4>@post.Title</h4>
<small>@post.CreatedTime</small>
<img class="w-100" src="~/uploads/@post.PhotoPath" />
@Html.Raw(post.Content)
    <hr />
}